.container-compra{
    width: 100%;
    height: auto;
    min-height: 50%;

    display: flex;
    justify-content: space-between;

    padding: .5rem;

    margin-bottom: 1rem;
    border-bottom: .1px rgba(255,255,255, .6) solid;
}

.container-compra:last-child{
    margin-bottom: 0px;
    border-bottom: none;
}

.container-compra-image-product{
    height: fit-content;
    width: 35%;
    border-radius: 2px;
    box-shadow: 2px 2px 5px rgba(255, 255, 255, .8);
}

.container-compra img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 2px;
    display: block;
}

.container-compra-details{
    display: flex;
    width: 50%;
    height: fit-content;
    flex-direction: column;
    margin-left: 1rem;
}

.container-compra-details .name-product{
    font-size: 1rem;
    word-break: break-word;
    line-height: 25px;
    font-family: 'Merriweather Sans', sans-serif;
    letter-spacing: 1px;
}

.name-product:after {
    content: '';
    display: block;
    width: 80px;
    margin-top: 5px;
    height: 3px;
    background: rgba(226, 142, 45, 0.5);
}

.container-compra-details label{
    color: rgba(255,255,255, .6);
    font-weight: 800;
    letter-spacing: 1px;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: .4rem;
}

.container-compra-details .value-product{
    margin: .5rem 0;
    font-family: 'Open Sans', sans-serif;
}

.container-compra-details label{
    color: rgba(255,255,255, .6);
    font-weight: 800;
    letter-spacing: 1px;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: .4rem;
}

.container-compra-details .value-product{
    font-size: 1.2em;
    color: rgba(255,255,255, 1)
}

.container-compra-details .quantity-product span{
    color:rgba(255,255,255, 1);
}

.btn-remove-shop{
    height: fit-content;
    background-color: transparent;
    cursor: pointer;
}

.btn-remove-shop span{
    color: white;
}
.btn-remove-shop span:hover{
    color: rgba(226, 142, 45, .6);
}

@media (max-width: 600px){

    .container-compra{
        flex-direction: column;
        height: auto;
    }
    
    .container-compra-image-product{
        width: 60%;
        height: 50%;
    }

    .container-compra img{
        width: 100%;
    }

    .container-compra-details{
        width: 100%;
        margin-top: 1rem;
        margin-left: 0px;
    }

    .btn-remove-shop{
        align-self: flex-start;
        margin-top: 1rem;
    }

    .container-compra-details .value-product{
        margin: .5rem 0;
    }
}