.container-shopping-cart{
    width: 400px;
    height: 100vh;
    background-color: rgb(20,20,20);
    position: fixed;
    right: -400px;
    top: 0;

    transition: right cubic-bezier(1,0,0,1) .8s;
    
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 1;

    padding: 1rem;
}

.container-shopping-cart.visible{
    right: 0px;
}

.container-shopping-cart.hidden{
    right: -400px;
}

.btn-close-shopping-cart{
    background-color: transparent;
    color: rgba(250,250,250,.7);

    font-family: 'Merriweather Sans', sans-serif;
    cursor: pointer;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.btn-close-shopping-cart span{
    font-size: 2rem;
}

.btn-show-shopping-cart{
    background-color: transparent;
    font-size: 2rem;
    color: rgba(250,250,250,.7);

    font-family: 'Merriweather Sans', sans-serif;
    cursor: pointer;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    justify-self: flex-end;

    margin-left: 2rem;
}

.btn-show-shopping-cart span{
    font: 1.4rem;
}

.btn-show-shopping-cart:hover,
.btn-close-shopping-cart:hover{
    color: white;
    text-shadow: 2px 2px 2px black, 0 0 1em rgb(218, 143, 58), 0 0 0.2em rgb(235, 148, 35);
}

/* DETALHES DO CONTAINER CARRINHO DE COMPRAS */
.container-shopping-cart-details{
    width: 90%;
    height: 15%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-container-cart{
    font-size: 1.4rem;
    font-family: 'Merriweather Sans', sans-serif;
    margin: 1rem 0;
    letter-spacing: 3px;
}

.title-container-cart:after {
    content: '';
    display: block;
    width: 80px;
    margin-top: 5px;
    height: 3px;
    background: rgba(226, 142, 45, 0.5);
}

/* DETALHES DO PRODUTO QUE FOI ADICIONADO NO CARRINHO */

.container-compras{
    display: block;

    width: 90%;
    max-height: 60%;
    height: auto;

    overflow-y: auto;
    margin: 1rem 0;
}

.container-shopping-cart-final-details{
    display: flex;

    flex-direction: column;
    position: fixed;
    bottom: 2rem;
}

.subtotal-value{
    font-size: 1.5rem;
    text-transform: uppercase;
    font-family: 'Merriweather Sans', sans-serif;
    color: rgba(255,255,255, .6);
    text-align: center;
    margin: 1rem 0;
}

.subtotal-value span{
    color: rgba(250,250,250,1);
    padding-left: .5rem;
}

.btn-finish{
    width: 100%;
    height: 3rem;

    background-color: orange;

    border-radius: 3px;
    font-size: 1.8rem;

    cursor: pointer;
    color: rgba(250,250,250,1)
}

.btn-finish:hover{
    box-shadow: 1px 1px 8px rgba(255, 255, 255, .8);
}

@media (max-width: 600px){
    .container-shopping-cart{
        width: 70%;
        right: -70%;
    }

    .container-shopping-cart.hidden{
        right: -70%;
    }

    .title-container-cart{
        font-size: 1.2rem;
    }

}